#banner{

	
	background-color: grey; 
	padding: 20px;
	
	position: relative;



}

#name{

	font-family: "Times New Roman", Times, serif;

	color: black;
}

#about{

	position: relative;
	width: 90%;
	left: 5%;
	

}