#banner{

	
	background-color: grey; 
	padding: 20px;
	
	position: relative;



}

#options{



color: inherit;
}
#name{

	font-family: "Times New Roman", Times, serif;

	color: black;
}

#about{

	position: relative;
	width: 90%;
	left: 5%;
	

}

button{

	background-color: Transparent;

    border: none;
   
    outline:none;
}

button:hover{
	color: white;
}