#banner{

	
	background-color: grey; 
	padding: 20px;
	
	position: relative;



}

#options{
position: relative;

left: 20px;

color: inherit;
}

#name{

	font-family: "Times New Roman", Times, serif;

	color: black;

	font-size: 35px;
}

#about{

	position: relative;
	width: 70%;
	left: 5%;
	

}

#resume{

	position: relative;
	width: 90%;
	left: 20%;
	
}
p{
	width: 75%;
	text-align: block;
	text-indent: 50px;
	position: relative;

}

button{

	background-color: Transparent;

    border: none;
   
    outline:none;

    font-size: 15px;

    padding-right: 40px;
}

button:hover{
	color: white;
}